DEBUG=True
SECRET_KEY=замените-на-случайный-секретный-ключ
DATABASE_URL=postgresql://grc_user:grc_password@db:5432/grc_db
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.dev

# Для продакшена
# DEBUG=False
# SECRET_KEY=очень-длинный-случайный-ключ
# ALLOWED_HOSTS=yourdomain.com
# DJANGO_SETTINGS_MODULE=config.settings.prod
